In [47]:
import pandas as pd ;  import numpy as np
import re , string
from nltk.corpus import stopwords 
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
STOPWORDS =  stopwords.words("english")
from sklearn.svm import LinearSVC
from sklearn.linear_model import LogisticRegression

In [5]:
data = pd.read_csv("C:/codes/machineL/data/amazon_alexa.tsv",delimiter="\t")[["verified_reviews","feedback"]]
data.head()

                                    verified_reviews  feedback
0                                      Love my Echo!         1
1                                          Loved it!         1
2  Sometimes while playing a game, you can answer...         1
3  I have had a lot of fun with this thing. My 4 ...         1
4                                              Music         1

In [22]:
def removing_special_chars(text):
    pat = r'[^a-zA-z0-9.,!?/:;\"\'\s]'
    return re.sub(pat,' ',text)

def removing_numbers(text):
    pattern = r'[^a-zA-z.,!?/:;\"\'\s]' 
    return re.sub(pattern,' ',text)

def remove_punctuation(text):
    return ''.join([c for c in text if c not in string.punctuation])




def clean_text(text):
    text =  str(text)
    text = text.lower()
    text = remove_punctuation(text)
    text = " ".join(w for w in text.split() if w not in STOPWORDS)
    return text

In [23]:
data["reviews"] =  data["verified_reviews"].apply(lambda x : clean_text(x))

In [24]:
data.head()

,verified_reviews,feedback,reviews
0,Love my Echo!,1,love echo
1,Loved it!,1,loved
2,"Sometimes while playing a game, you can answer...",1,sometimes playing game answer question correct...
3,I have had a lot of fun with this thing. My 4 ...,1,lot fun thing 4 yr old learns dinosaurs contro...
4,Music,1,music

In [27]:
x_train,x_test,y_train,y_test =  train_test_split(data["reviews"].values,data["feedback"].values,test_size=0.2)

In [45]:
tfidf =  TfidfVectorizer()
x_train_tf =  tfidf.fit_transform(x_train).toarray()
x_test_tf =  tfidf.transform(x_test).toarray()

In [46]:
model_svc = LinearSVC(random_state=0)
model_svc.fit(x_train_tf,y_train)
model_svc.score(x_test_tf,y_test)

0.946031746031746

In [49]:
model_log = LogisticRegression(max_iter=1000,solver='saga')
model_log.fit(x_train_tf,y_train)
model_log.score(x_test_tf,y_test)

0.9349206349206349

In [50]:
preds_svc =  model_svc.predict(x_test_tf)
preds_log=  model_log.predict(x_test_tf)

In [53]:
preds_svc[:5]

array([1, 1, 1, 1, 1], dtype=int64)

In [54]:
preds_log[:5]

array([1, 1, 1, 1, 1], dtype=int64)