In [36]:
import os 
import pandas as pd
import numpy as np
from scipy.stats import shapiro,ttest_1samp
import scipy.stats as stats

In [11]:
data = pd.read_csv(os.path.join("C:/codes/machineL/data/titanic/train.csv")).drop(columns=["Name","Cabin","Embarked","Ticket"])
print(data.shape)
data.head()

(891, 8)

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare
0            1         0       3    male  22.0      1      0   7.2500
1            2         1       1  female  38.0      1      0  71.2833
2            3         1       3  female  26.0      0      0   7.9250
3            4         1       1  female  35.0      1      0  53.1000
4            5         0       3    male  35.0      0      0   8.0500

In [26]:
pop =  data["Age"].sample(800).dropna()
sample =  np.array(pop.sample(30).values)

In [27]:
sample

array([24.  , 26.  , 60.  , 21.  , 17.  , 36.  ,  0.83, 33.  , 39.  ,
       22.  , 41.  , 20.  , 45.  , 40.  ,  8.  , 37.  ,  8.  , 29.  ,
       12.  ,  2.  , 32.  , 45.  , 26.  , 28.  , 22.  , 16.  , 20.  ,
       28.  , 27.  , 17.  ])

 **H0 => MEAN AGE IS 35**  <br />
**H1 => MEAN  AGE IS LESS THAN 35**

In [30]:
shap_results =  shapiro(sample)
shap_results

ShapiroResult(statistic=0.9844914602084358, pvalue=0.9282179689268064)

**If p-value < 0.05 =>  Not Normally distributed** <br />
**If p-value > 0.05 =>   Normally distributed** <br />
HENCE OUR DATA IS NORMALLY DISTRIBUTED

In [46]:
ttest_results =  ttest_1samp(sample,35) # 35 cuz our hypothesis is of 35 
ttest_results

TtestResult(statistic=-3.6422154223400685, pvalue=0.0010467720932402507, df=29)

In [49]:
#((sample.mean() - 35 ) * np.sqrt(30)) /  sample.std() # ->  -3.704480025320485

In [53]:
alpha = 0.05

if ttest_results.pvalue < alpha:
    print("Reject the Null Hypothesis")
else: 
    print("Accpet the Null Hypothesis")

Reject the Null Hypothesis

In [55]:
##Why reject becasue model is correct !!
pop.mean()

29.82475819032761

UNDERSTANFING P VALUE https://www.youtube.com/watch?v=8Aw45HN5lnA <br />
THEN CHATGPT :  explain p value , like ehy p-value < alpha (0.05)  to reject the null hypothesis <br />
                : but 3% comes under 5% , then why reject it ? <br />
                : innocent example is good ,explain through it