In [22]:
import os 
import pandas as pd
import numpy as np
from scipy.stats import shapiro,levene,ttest_ind
import scipy.stats as stats

In [2]:
data = pd.read_csv(os.path.join("C:/codes/machineL/data/titanic/train.csv")).drop(columns=["Name","Cabin","Embarked","Ticket"])
print(data.shape)
data.head()

(891, 8)

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare
0            1         0       3    male  22.0      1      0   7.2500
1            2         1       1  female  38.0      1      0  71.2833
2            3         1       3  female  26.0      0      0   7.9250
3            4         1       1  female  35.0      1      0  53.1000
4            5         0       3    male  35.0      0      0   8.0500

In [12]:
pop_male =  data[data["Sex"]=="male"]["Age"].sample(300).dropna()
pop_female =  data[data["Sex"]=="female"]["Age"].sample(300).dropna()

In [13]:
sample_male =  pop_male.sample(30)
sample_female =  pop_female.sample(30)

In [15]:
np.array(sample_male)

array([46. , 43. ,  1. , 28. , 19. , 27. , 25. , 47. , 20. , 23.5, 35. ,
       30. , 32. ,  3. , 66. , 41. , 31. , 52. , 18. , 32. , 44. , 36. ,
       71. , 61. , 32. , 20. , 28. , 26. , 32. , 28. ])

**H0 =>  Age(M) =  Age(F)** <br />
**H1 =>  Age(M) =/=  Age(F)**

In [17]:
shap_male =  shapiro(sample_male)
shap_Female = shapiro(sample_female)

print("Shapiro results male : ",shap_male)
print("Shapiro results Female : ",shap_Female)

Shapiro results male :  ShapiroResult(statistic=0.9545159596924463, pvalue=0.22298441358565046)
Shapiro results Female :  ShapiroResult(statistic=0.9315168294411362, pvalue=0.053882976543199644)

Both are more than 0.05 hence both are normally distributed

In [20]:
results_lev=  levene(sample_male,sample_female)
results_lev

LeveneResult(statistic=0.24283975977704744, pvalue=0.6240230582874032)

results are more than 0.05 hence both have equal  variance

In [23]:
ttest_results = ttest_ind(sample_male,sample_female)
ttest_results

TtestResult(statistic=1.3171686118778272, pvalue=0.1929622979965505, df=58.0)

In [24]:
alpha  =  0.05 

if ttest_results.pvalue < alpha :
    print("Reject the Null Hypothesis")
else:
    print("Accept the Null hypthesis")

Accept the Null hypthesis

In [25]:
sample_male.mean(),sample_female.mean()

(33.25, 28.216666666666665)